.wppsb_settings {
	font-size: 16px !important;
}
.wppsb_admin_dev_sidebar_div {
	width:300px;
	height:225px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 20px 20px 20px 0;
	border: 1px solid #FF9900;
	background-color:#FFFFFF;
	padding: 10px 10px 0 30px;
}
.wppsb_admin_dev_sidebar {
	font-size: 14px;
	margin: 0 20px 10px 0;
	display: block;
}
.wppsb_admin_dev_sidebar a{
	text-decoration: none;
}
.wppsb_admin_dev_sidebar img{
	padding: 0 5px 0 0;
	vertical-align: middle;
}
.wppsb_news_section {
	border-radius: 20px 20px 20px 0;
	border: 1px solid #FF9900;
	background-color: #FFFFFF;
	padding: 20px 20px 20px 20px;
	width: 98%;
}

a.wppsb_rsswidget {
	font-size: 16px !important;
	text-decoration: none !important;
}
.wppsb_rss-widget ul li {
	margin-bottom: 25px !important;
}

td.wppsb_onoff {
	width: 75px;
	height: 40px;
}
/* ========= */

.wppsb_onoffswitch {
    position: relative; width: 70px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.wppsb_onoffswitch-checkbox {
    display: none !important;
}
.wppsb_onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.wppsb_onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.wppsb_onoffswitch-inner:before, .wppsb_onoffswitch-inner:after {
    display: block; float: left; width: 50%; padding: 0; /* height: 30px; line-height: 30px; */ height: 22px; line-height: 22px;
    font-size: 15px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.wppsb_onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #5CA21E; color: #FFFFFF;
}
.wppsb_onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.wppsb_onoffswitch-switch {
    display: block; /* width: 18px; */ width: 11px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 43px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.wppsb_onoffswitch-checkbox:checked + .wppsb_onoffswitch-label .wppsb_onoffswitch-inner {
    margin-left: 0;
}
.wppsb_onoffswitch-checkbox:checked + .wppsb_onoffswitch-label .wppsb_onoffswitch-switch {
    right: 0px;
}